.testimonials {
  margin: 2rem;
}

.testimonials__title {
  color: var(--color-secondary-base);
  font-size: var(--font-size-sm);
  margin-bottom: 1rem;
}

.testimonials__subtitle {
  line-height: 2rem;
  font-size: var(--font-size-h3);
  font-family: var(--font-primary);
  font-weight: bold;
}

.testimonials__container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}